@using WebApp.Models.BL.WarehouseBL
@model WarehouseDTO
@{
    ViewData["Title"] = "Update warehouse";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div asp-action="UpdateWarehouse" class="card card-default">
            <form asp-action="UpdateWarehouse">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="Id" class="control-label">Id</label>
                                <input asp-for="Id" class="form-control" readonly />
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label">Name</label>
                                <input asp-for="Name" class="form-control" />
                            </div>
                            <!-- /.form-group -->
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Address" class="control-label">Address</label>
                                <input asp-for="Address" class="form-control" />
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="NameKeeper" class="control-label">Name Keeper</label>
                                <input asp-for="NameKeeper" class="form-control" />
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
                <div class="card-footer">
                    <a asp-action="IndexWarehouse" class="btn btn-secondary">Cancel</a>
                    <input type="submit" value="Update Warehouse" class="btn btn-info float-right" />
                </div>
            </form>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->