@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-header pb-0" style="text-align: center;">
                            <br>
                            <h4>Welcome to page!</h4>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>