@using WebApp.Models.BL.CustomerBL
@model CustomerDTO
@{
    ViewData["Title"] = "Create customer";
}

<section class="content">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div asp-action="CreateCustomer" class="card card-default">
            <form asp-action="CreateCustomer">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="Id" class="control-label">Id</label>
                                <input asp-for="Id" class="form-control" />
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label">Name</label>
                                <input asp-for="Name" class="form-control" />
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <div class="row">

                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="Address" class="control-label">Address</label>
                                <input asp-for="Address" class="form-control" />
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Phone" class="control-label">Phone</label>
                                <input asp-for="Phone" class="form-control" />
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
                <div class="card-footer">
                    <a asp-action="IndexCustomer" class="btn btn-secondary">Cancel</a>
                    <input type="submit" value="Create New Customer" class="btn btn-success float-right" />
                </div>
            </form>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>