@using WebApp.Models.BL.OutputSlipDetailBL
@model OutputSlipDetailDTO
@{
    ViewData["Title"] = "Create OutputSlipDetail";
}

<section class="content">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div asp-action="CreateOutputSlipDetail" class="card card-default">
            <form asp-action="CreateOutputSlipDetail">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="Id" class="control-label">Id</label>
                                <input asp-for="Id" class="form-control" />
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="OutputSlipId" class="control-label">OutputSlip Id</label>
                                <input asp-for="OutputSlipId" class="form-control" />
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <div class="row">

                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="ProductId" class="control-label">ProductId</label>
                                <input asp-for="ProductId" class="form-control" />
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Quantity" class="control-label">Quantity</label>
                                <input asp-for="Quantity" class="form-control" />
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Price" class="control-label">Price</label>
                                <input asp-for="Price" class="form-control" />
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
                <div class="card-footer">
                    <a asp-action="IndexOutputSlipDetail" class="btn btn-secondary">Cancel</a>
                    <input type="submit" value="Create New OutputSlipDetail" class="btn btn-success float-right" />
                </div>
            </form>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>